@import url(https://fonts.googleapis.com/css?family=Megrim);
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Henny+Penny);
@import url(https://fonts.googleapis.com/css?family=Frijole);
@import url(https://fonts.googleapis.com/css?family=Nosifer);


@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark:500|Raleway');


* {
  text-align: center;

}

h1 {
  color: black;
  font-family: 'Palanquin Dark', sans-serif;

}

h2 {
  font-family: 'Palanquin Dark', sans-serif;
  color: limegreen;
  padding-bottom: 5px;
  font-size: 32px;

}

h3 {
  font-family: 'Palanquin Dark', sans-serif;
  text-decoration: bold;
  color: limegreen;
  padding-top: 50px;
  font-size: 40px;

}

h4 {
    font-size: 32px;
    font-family: 'Henny Penny', cursive;

}

header {
    width: 100%;
    height: 30px;
    background-color: #e74c3c;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .9;

}


a {
    font-family: 'Megrim', cursive;
    text-decoration: none;
    font-size: 20px;
    color: limegreen;


}

nav a {
  color: white;
  float: left;
  font-family: 'Raleway', sans-serif;
  padding: 5px 20px;
  border-right: 1px solid #fff;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 17px;

}

button {
  width: 80px;
  height: 50px;
  font-family: 'Bangers', cursive;
  padding-top: 0px;
  background-color: black;
  color: limegreen;
  font-size: 25px;
  border: outset grey;
  padding: 1px;

}

button:hover {
  width: 80px;
  height: 50px;
  font-family: 'Bangers', cursive;
  padding-top: 0px;
  background-color: white;
  color: red;
  cursor: default;
}

input {
  font-family: 'Bangers', cursive;
  font-size: 20px;
  color: #e74c3c;
  width: 200px;
  height: 10px;
  padding: 10px;
  background-color: #ffff;
  border: 2px solid red ;

}

.wrapper {
  width: 100%;

}

#head {
  text-align: center;
  border: none;
  float: right;
}


#artist-template {
  padding-top: -300px;

}

#band img {
  padding: 15px;

}

#band p  {
  font-family: 'Rock Salt', cursive;
  font-size: 25px;

}

#about p {
  font-family: monospace;
}

#similar p {
    font-family: monospace;
}
#social img {
  padding: 10px;

}

#social img:hover {
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}



.hero {
  width: 100%;
  height: 700px;
  background: url("./images/pink.png") no-repeat center center scroll;
  background-size: cover;
  top:0;
  left:0;
}
